*.c linguist-language=C
*.h linguist-language=C
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.pro linguist-language=IDL
*.objc.m linguist-language=objc
*.matlab.m linguist-language=octave
*.c3 linguist-language=C3
